* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.top {
  background-color: #333;
  color: #fff;
  padding: 5rem;
}
.navbar {
  background-color: peachpuff;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 4rem;
}
.navbar h1 {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}
.navbar div {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.container {
  width: 80%;
  margin: auto;
}
.square {
  border: 1px solid #000;
  height: 200px;
  width: 200px;
  margin-top: 5rem;

  position: relative;
  z-index: -50;
}

.ball {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* right: 50px; */
  /* bottom: 0; */
}
#top {
  position: absolute;
  top: 0;
}
.btn {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  position: fixed;
  top: 80%;
  right: 0;
}
/* .popup {
  background-color: #476cbd90;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */