.spinner {
  display: flex;
  position: relative;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: lightcoral;
}

.animate {
  position: absolute;
  animation: shrink-grow 0.9s infinite;
}

#c1 {
  left: 0;
  top: 0;
  animation-delay: 0.25s;
}
#c2 {
  left: 40px;
  top: 0;
  animation-delay: 0.5s;

}
#c3 {
  left: 80px;
  top: 0;
  animation-delay: 0.75s;
}

@keyframes shrink-grow {
  0%{
    transform: scale(1);
    /* height: 25px;
    width: 25px; */
    background-color: lightcoral;
  }
  50%{
    transform: scale(0.6);

    /* height: 15px;
    width: 15px; */
    background-color: lightseagreen;
  }
  100%{
    transform: scale(1);

    /* height: 25px;
    width: 25px; */
    background-color: lightcoral;
  }
}