.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid transparent;
  border-bottom: 15px solid #05a112;
  border-right: 15px solid red;

  animation: spinner 1.2s linear infinite reverse;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}