.box {
  /* margin: 20px 0 0 0; */
  margin-top: 20px;
  flex-basis: 30%;
}
.container {
  background-color: rgb(247, 247, 247);
}


@media(min-width: 768px) {

  .flex {
    display: flex;
  
    /* justify-content: space-around; */
  
  
    /* 
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around; 
    */
    /* 
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
     */
  
    /* 
     flex-direction: column;
     flex-direction: column-reverse;
     flex-direction: row;
     flex-direction: row-reverse; 
     */
  
  }
  
  #box-1 {
    flex: 2;
    order: 2;
  }
  
  #box-2, #box-3 {
    flex: 1;
  }
  #box-2 {
    order: 1;
  }
  #box-3 {
    order: 3;
  }
}

@media(min-width: 992px) {
  #box-1 {
    flex: 10;
  }
  
  #box-2{
    flex: 3;
  }
}
